.List {
  &_container {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 40px;
    z-index: 10;

    &_styleable {
      background-color: white;
      border: 1px solid rgb(255, 85, 85);
      box-shadow: 0px 0px 6px 0px rgba(255, 85, 85, 0.25);
      transition: all 400ms;
      border-radius: 5px;
      min-height: 40px;
      margin-top: 5px;
    }
  }

  &_button {
    cursor: pointer;
    border: none;
    z-index: 0;

    &_styleable {
      transition: background-color 200ms;
      height: 40px;
      padding: 0 1.5%;
      text-align: left;
      background-color: unset;

      &:hover {
        color: white;
        background-color: rgb(255, 85, 85);
      }
    }
  }

  &_buttonContainer {
    display: flex;
    flex-direction: column;
    z-index: 0;

    :first-child {
      border-radius: 4px 0px 0px 0px;
    }
  }

  &_options {
    max-height: 220px;
    overflow-y: scroll;
  }

  &_footer {
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 1%;
    width: 98%;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #868686;
    background-color: white;
    border-top: 1px solid rgb(160, 160, 160);
    z-index: 10;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 400ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
